<?xml version="1.0"?>
<appSettings>
  <add key="BasecampClientId" value="xx" />
  <add key="BasecampClientSecret" value="xx" />
  <add key="AdvcsMatrixAppId" value="advcs-basecamp-local"/>
  <add key="AdvcsMatrixClientId" value="123"/>
  <add key="AdvcsMatrixClientSecret" value="456"/>
</appSettings>
