@model Basecamp.Models.BCX
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <ul>
            @foreach (Newtonsoft.Json.Linq.JObject item in Model.Projects().Children<Newtonsoft.Json.Linq.JObject>())
            {
                <li><a href="?project=@item["id"].ToString()">@item["name"].ToString()</a></li>
            }
        </ul>
    </div>   
</div>